
@media screen and (max-width: 768px) {
    /* Adjust padding or margin for smaller screens */
    section {
        padding-top: 100px; /* Add extra padding to the top of sections */
    }
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    margin-top: 3%;
}

#header{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #333; /* Add background color */
    transition: top 0.3s; /* Add smooth transition */
    color: #fff;
    display: flex;
    justify-content: space-between; /* Align h1 to the left and navbar to the right */
    align-items: center; /* Center vertically */
}
#header h1{
    padding-left: 1%;
}









#dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown button */
#dropdown-button {
    padding-right: 50px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 100%;
}
/* Style for the dropdown content */
#dropdown-content {
    display: none;
    position: absolute;
    background-color: #b3b1b1;
    min-width: 200px;
    z-index: 1;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    top: 38px; /* Position dropdown content below the button */
    right: 0; /* Align dropdown content with the button */
}
/* Hover effect for dropdown items */
#dropdown-content a {
    color: #000000;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Hover effect for dropdown items */
#dropdown-content a:hover {
    background-color: #c4c4c4;
}

/* Show the dropdown content when the dropdown button is clicked */
#dropdown:hover .dropdown-content {
    display: block;
}






section {   
    margin-top: 20px;
    padding: 2%;
    background-color: #b2b2b44b;
    border-radius: 5px;
}
.sticky {
    top: 0; /* Position at the top when sticky */
}
.flashing {
    animation: flash 0.5s ease-in-out;
}

@keyframes flash {
    0% { background-color: inherit; }
    50% { background-color: rgb(209, 209, 209); }
    100% { background-color: inherit; }
}





footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

